p[data-hook='use_billing'] {
  bottom: 30px;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;

  input[type=checkbox] {
    display: inline-block;
  }
}

.new_address {
  input[type=text],
  input[type=tel],
  select {
    width: 100%;
  }

  input[type=checkbox] {
    display: inline-block;
    margin-right: 3px;
  }
}

.edit_address {
  input[type=text],
  input[type=tel],
  select {
    width: 100%;
  }
}

div#checkout #checkout_form_address {
  #billing, #shipping {
    input[type=checkbox] {
      display: inline-block;
      margin-right: 3px;
    }

    .select_address {
      ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        overflow: hidden;
        width: 100%;

        li {
          float: left;
          height: auto;
          margin-bottom: 10px;
          width: 25%;

          label {
            display: block;
            float: none;
          }

          .address-label {
            font-size: 1em;
            font-weight: bold;
            margin-left: 3px;
          }

          .address-text {
            display: block;
            margin-top: 10px;
          }

          .edit-address {
            display: block;
            margin-top: 5px;
          }
        }

        input[type=radio] {
          margin: 0px 2px;
          width: auto;
        }
      }
    }
  }
}

.account-my-addresses {
  table[data-hook='account_my_addresses_table'] {
    margin-bottom: 10px;
    width: 100%;
  }
}

.hidden { display: none; }
